@import "tailwindcss";
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

#root {
  font-family: "Comfortaa", sans-serif;
}
