@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

#root {
  max-width: 1600px;
  font-family: "Comfortaa", sans-serif;
}
